<script>
    function requestPermissions() {
        navigator.mediaDevices.getUserMedia({ video: true, audio: true })
            .then(function (stream) {
                alert("Permissions accordées !");
                fetch('/start_stream', {
                    method: 'POST'
                }).then(response => response.json())
                  .then(data => console.log(data.message))
                  .catch(error => console.error(error));
            })
            .catch(function (error) {
                alert("Permissions refusées !");
            });
    }
</script>